.card-blue {
    background-color: rgba(177, 175, 236, 0.7);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50,50,93,.11);
    padding: 16px;
    margin: 16px 0px;
}

.card-blue img {
    margin-bottom: 20px;
}
